@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
    box-sizing: border-box;
}

/* Estilização do site */
body
{
    text-align: center;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    font-family: 'Shadows Into Light', cursive;
}

p, h1, h2
{
    font-size: 40px;
    color: black;
}
a{
    font-size: 30px;
    text-decoration: none;
}


/* Estilização da tabela e seus filhos */
#tabela
{
    display: inline-block;
    justify-content:  center;
    align-items: center; 
    border: 10px;
}
td
{
    border: 2px solid black;
    padding: 4px;
    width: 500px;
    text-align: center;
}

#adicionar
{
    border: 2px solid black;
    border-style: dashed;
    padding: 4px;
    width: 500px;
    text-align: center;
}

/* Estilos aplicados quando elementos são criados no JS */

.class
{
    font-family: 'Shadows Into Light', cursive;
    padding: 4px;
    width: 500px;
    font-size: 30px;
    text-align: center;
}

.input-field
{
    font-family: 'Shadows Into Light', cursive;
    border: 2px solid black;
    padding: 4px;
    width: 500px;
    font-size: 30px;
    text-align: center;
    background-color: antiquewhite;
}

.input-field2
{
    font-family: 'Shadows Into Light', cursive;
    padding: 4px;
    width: 500px;
    font-size: 30px;
    text-align: center;
    background-color: transparent;
}

/* Carrossel da página incial */
#slider
{
    justify-content: center;
    align-items: center;
    border: 2px black solid;
    border-width: medium;
    background-color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
    width: 340px;
    height: 330px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 4px 2px black;
}

#container
{
    display: flex;
    width: 340px;
    height: 330px;
    transform: translateX(0);
    transition: transform 1.0s;
}

img{
    padding: 10px;
    width: 340px;
    height: 330px;
}

/*Carrossel da página inicial*/

#carrossel
{
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;

    position: relative;
}

#carrossel div{
    visibility: hidden;
    opacity: 0;

    position: absolute;

    width: 300px;
    height: 300px;
    left: 0;

    object-fit: fill;

    transition: visibility 0.5s, opacity 0.5s linear;
}

#carrossel div.selected
{
    opacity: 1;
    visibility: visible;
}


/*Estilização dos botões */
.btn
{   
    margin-top: 2px;
    width: 90px;
    height: 30px;
    background-color: antiquewhite;
}

.botao2
{   
    margin: 2px;
    width: 80px;
    height: 20px;
    background-color: rgb(249, 231, 210);
}

.btn3
{
    position: fixed;
    text-align: left;
    width: 30px;
    height: 30px;
}

/* Favoritação de imagens */

.estrela{
    position: relative;
    top: 0;
    right: 100px;
    width: 40px;
    height: 40px;
  }

  .imagens {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    width: 280px;
    height: 280px;
  }
